   /* 320px to 420px Smaller-Devices starts */

   @media (min-width:0px) and (max-width:450px) {


    body {
        width: auto;
    }

    .top-tittle1 {
        font-size: 14px;

    }

    .top-tittle2 {
        font-size: 14px;
        margin-top: -0px;
    }

    .top-tittle3 {
        font-size: 14px;
        margin-top: -17px;
    }

    .top-tittle4 {
        font-size: 14px;
        margin-top: -17px;
    }

    .menue {
        display: flex;
    }

    .menu2 {
        margin-top: 15px;
        z-index: 2;
        color: black;
        background-color: #fff;
        height: 320px;


    }

    .nav-logos {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .search-bar {
        display: none;
    }



    .swiper1 {
        width: 100%;




    }

    .swiper1 img {

        object-fit: fill;
        width: 100%;


    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }

    .ebs {
        display: flex;
        justify-content: center;
        width: 80%;
    }

    picture source {
        object-fit: fill;
    }

    .bs h3 {
        margin-top: 12px;
        font-size: 30px;

    }

    .tf h3 {

        margin-left: -37px;

        width: 85px;
    }

    .daily-deals img {
        width: 97%;
        height: 80px;
border-radius: 20px;
    }


    .countdown {



        width: 400px;
        height: 500px;



    }

    .countdown p {
        position: relative;
        left: -380px;
        top: 30px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .sbc{
     width: auto;
    margin-left: 20px!important;    
   
    }
    .card1s4{
    
        border-radius: 0px 0px 20px 20px!important;
    }
.sbc h3{
 
 
}

.newLaunches {


display: flex;
justify-content: center;
align-items: center;
margin-left: -10px!important    ;

 
}
.newLaunches h3 {

 font-size: 30px;

}
.All_Cards2{

 display: flex;
 justify-content: center;
 align-items: center;
}


.img4_main {


display: flex;
gap: 0px;

margin-left: -55px!important;



}
.img4_main img{

height: 80px;
width: 80px;
}
.img4_main h4{

font-size: 10px!important;

}
.img4_gap{
margin-top: -10px!important;
}
.img4_kira{
    margin-left: 16px!important;
}

.imggc1 {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.emptyimg4{
 display: none;
}
.JTT{
 margin-left: 22px!important;
 margin-bottom: -15px!important;
}

.SBLS{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: -10px!important;
 
 
}
.SBLS h3{
 font-size: 30px;
 
 
}
.cards_3_Main {
    height: 500px!important;
    margin-top: 50px!important;
 
}


.BOB{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: -13px!important;
 
 
}
.BOB h3{
 font-size: 30px;
 
 
}

.navbar2{
 display: none;
}



.inpt{
 margin-left: -35px;
}
.card_5{
    margin-top: -80px!important;
    margin-left: 10px!important;
    
}
.blog{
    margin-bottom: -13px!important;
    margin-left: 5px!important;

}
.card4Main{
    margin-left: 10px!important;
    width: 100%!important;

}
.card2Main ,.card1Main{
    margin-left: 10px!important;
    width: 100%!important;

}
.tit1{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: -20px;
}
.swiper4{
    margin-left: -10px!important;


}

.footer{
 display: none; 
}

.footer2{
 display: none;
}
.footer3{
 display: none;
}



}






/* 320px to 420px Smaller-Devices Ends */



/* 420px to 600px Mobile-Phones starts */
/* @media (min-width:320px) and (max-width:420px) { */













/* } */
/* 420px to 600px Mobile-Phones Ends */




/* 
@media (min-width:350px) and (max-width:450px){
    
    .top-tittle1 {
        font-size: 12px;

    }

    .top-tittle2 {
        font-size: 12px;
        margin-top: -17px!important;
    }

    .top-tittle3 {
        font-size: 12px;
        margin-top: -17px;
    }

    .top-tittle4 {
        font-size: 12px;
        margin-top: -17px;
    }

    .menue,.nav-logos {
        display: flex;
        justify-content: space-evenly!important;
    }

    .menu2,.nav-logos{
        margin-top: 15px;
        z-index: 2;
        color: black;
        background-color: #fff;
        height: 320px;
        


    }
    #searchlogo{
        margin-left: -10px!important;
    } */











}
